{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true,
        "jest": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:prettier/recommended"
    ],
    "plugins": [
        "prettier"
    ],
    "parserOptions": {
        "ecmaVersion": 2021,
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true
        }
    },
    "rules": {
        "complexity": [
            "warn",
            {
                "max": 8
            }
        ],
        "max-depth": [
            "warn",
            2
        ],
        "max-lines": [
            "warn",
            256
        ],
        "max-lines-per-function": [
            "warn",
            32
        ],
        "max-nested-callbacks": [
            "warn",
            2
        ],
        "max-params": [
            "warn",
            4
        ],
        "no-magic-numbers": [
            "warn",
            {
                "detectObjects": false,
                "enforceConst": true,
                "ignore": [
                    0,
                    1
                ],
                "ignoreArrayIndexes": true
            }
        ],
        "no-multiple-empty-lines": [
            "warn",
            {
                "max": 2,
                "maxEOF": 1
            }
        ],
        "no-nested-ternary": "warn",
        "no-unused-vars": 0,
        "prettier/prettier": [
            "warn",
            {
                "endOfLine": "auto"
            }
        ],
        "indent": [
            2,
            2
        ],
        "quotes": [
            2,
            "single",
            {
                "avoidEscape": true,
                "allowTemplateLiterals": true
            }
        ],
        "semi": [
            2,
            "always"
        ],
        "eqeqeq": 2,
        "strict": [
            2,
            "global"
        ],
        "no-console": 1,
        "array-callback-return": 1,
        "block-scoped-var": 1,
        "consistent-return": 1,
        "curly": [
            1,
            "multi-line",
            "consistent"
        ],
        "no-empty-function": 1,
        "no-useless-return": 1,
        "vars-on-top": 1,
        "no-use-before-define": [
            1,
            "nofunc"
        ],
        "no-lonely-if": 1,
        "no-trailing-spaces": 1,
        "no-restricted-properties": [
            1,
            {
                "property": "lenght",
                "message": "Use length instead of lenght (notice the position of the h)"
            }
        ]
    }
}
